<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StuySU Applications</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="https://stuysu.org/images/favicon.ico"
		/>

		<style>
			.container {
				min-height: calc(100vh - 400px);
				padding: 0 0.5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				max-width: 500px;
				margin: auto;
			}

			.main {
				padding: 2.5rem 0.5rem;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.inline-center {
				text-align: center;
			}

			.item-list {
				list-style: none;
				padding: 0;
			}

			.item-list li div {
				display: flex;
			}

			.item-list li div h3 {
				flex-grow: 1;
				margin: 1rem;
			}
		</style>
		<script>
			function signOut() {
				fetch('/api/logout').then(() => window.location.reload());
			}
		</script>
	</head>
	<body>
		<div class="container">
			<main class="main inline-center">
				<img
					src="https://stuysu.org/images/editedsulogo.svg"
					style="width: 200px"
					alt="SU Logo"
				/>

				<h1>Welcome back {{user.name}}</h1>
				<a href="#" onclick="signOut()">Sign Out</a>
				<h2 style="font-weight: normal">
					Your Anonymous Application Code Is:
					<b><code>{{ userCode.code }}</code></b>
				</h2>
			</main>
			<main>
				<h3>Freshman Caucus Member Results:</h3>

				{% if results.length %} {% if results[0].status === "approved"
				%}
				<p>
					Hello there,<br /><br/>
					It’s been quite difficult choosing between all of your
					amazing applications, as we have received over 60 of them.
					We were blown away by your responses, even if some of them
					were submitted at two in the morning.
					<br /><br />
					That being said, we would like to congratulate you on being
					accepted into the next round of our cabinet recruitments.
					Your commitment as well as skill has caught our interest,
					and through our interviews we would like to get to know you
					better.
					<br /><br />
					Please proceed by scrolling down to our calendly and reserving
					an interview time:
					<br/><br/>
					Once again, congratulations, and we hope to talk to you
					soon! Daniel Jung and Ryan Lee
				</p>
				<!-- Calendly inline widget begin -->
				<div
					class="calendly-inline-widget"
					data-url="https://calendly.com/c/AFFVRBLQT434EIOL"
					style="width: 1001px; max-width: 90vw; height: 630px"
				></div>
				<script
					type="text/javascript"
					src="https://assets.calendly.com/assets/external/widget.js"
				></script>
				<!-- Calendly inline widget end -->
				{% else %}
				<p>
					Hello there,<br/><br/>
					It’s been quite difficult choosing between all of your amazing applications as we have received over 60 of them. We were blown away by your responses, even if some of them were submitted at two in the morning.
<br/><br/>
					Unfortunately, your application has not passed the first round.
<br/><br/>
					Please do not be discouraged though. This year’s applications were extremely competitive, and you should be proud of your efforts. Not only that, we will remember your dedication in the future, as there will be many other ways you can participate in the Sophomore Caucus!
<br/><br/>
					Remember to stay well,<br/>
					Daniel Jung and Ryan Lee
				</p>
				{% endif %} {% else %}
				<p>
					We did not receive an application from you. If you believe
					this to be an error, reach out to us at executive@stuysu.org
				</p>
				{% endif %}
			</main>
			<hr />
			<main>
				<h3>How does it work?</h3>
				<p>
					When you sign in with Google we receive some of the
					following fields about you:
				</p>
				<pre style="text-align: left">
{
	...
	"sub": "110169484474386276334",
	...
	// Expiration time
	"exp": "1433981953",

	"email": "testuser@gmail.com",
	"email_verified": "true",
	"name" : "Test User",
	"picture": "...",
	"given_name": "Test",
	"family_name": "User",
	"locale": "en"
}</pre
				>
				<p>
					The <code>sub</code> field represents an id for you,
					specifically for this app.
				</p>
				<p>
					We hash this field with the id of the application you're
					applying to in order to get a repeatable value while also
					keeping your original <code>sub</code> secret.
				</p>
				<p>
					We then generate a one-time code and store it in the
					database and we use the hash from the previous step to find
					the code that belongs to you.
				</p>
				<p>
					As for communicating the <code>sub</code> field back and
					forth with a server, we use something called a
					<a href="https://jwt.io/" target="_blank">JWT</a> to ensure
					that you can't change your sub but that we also don't need
					to store your session information on the server
				</p>
				<h3>What does this mean?</h3>
				<p>Your identity always remains secret.</p>
				<p>
					The only way for us to let you know if you got selected if
					for you to come back to this site and check.
				</p>
				<p>
					There's no way for us to contact you if you do not reveal
					your identity through this site after we release results.
				</p>
				<p>
					If you provide the wrong value for your code on the google
					form, you won't be able to receive a decision. Make sure you
					enter the correct code!
				</p>
				<br />
				<p>
					If you want to look through the code for this app, you may
					do so on our github repository:
					<a
						href="https://github.com/stuysu/applications"
						target="_blank"
						>https://github.com/stuysu/applications</a
					>
				</p>
			</main>
		</div>
	</body>
</html>
